In [1]:
import csv

filename = "data/school_modes.csv"

header = ['School Mode', 'Number of Students']
rows = [
    ['Fully Remote', 264000],
    ['Hybrid', 736000],
    ['Unknown (Charter)', 120000]
]

with open(filename, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(rows)

print(f"{filename} has been created successfully!")

school_modes.csv has been created successfully!

In [2]:
import pandas as pd

df = pd.read_csv('school_modes.csv')

In [3]:
df.head()

         School Mode  Number of Students
0       Fully Remote              264000
1             Hybrid              736000
2  Unknown (Charter)              120000

In [7]:
df.to_csv('school_modes.csv',  index=False)

In [5]:
extract = pd.read_csv('data/pre_omi.csv')
extract.head()

,Sample Date,Test Date,WRRF Name,Gene Copies (N1/L),Per Capita Gene Copies,"Population Served, estimated",School Status,School-Aged Population,Season,Holiday
0,2020-08-31,09/01/2020,26th Ward,389.0,263535.64,290608,Summer Break_1,72091.0,Summer 2020,0
1,2020-08-31,09/01/2020,Bowery Bay,1204.0,443632.86,924695,Summer Break_1,122994.0,Summer 2020,0
2,2020-08-31,09/01/2020,Coney Island,304.0,168551.56,682342,Summer Break_1,117865.0,Summer 2020,0
3,2020-08-31,09/01/2020,Hunts Point,940.0,574446.57,755948,Summer Break_1,151282.0,Summer 2020,0
4,2020-08-31,09/01/2020,Jamaica Bay,632.0,233077.74,748737,Summer Break_1,131881.0,Summer 2020,0